.form-container {
  margin: auto;
  margin-top: 40px;
  height: 1000px;
  width: 800px;
}

.wrap-container{
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 800px;
  width: 600px;
  text-align: center;
  margin: auto;
}
.wrap-container span {
  margin-bottom: 15px;
  display: block;
}

.wrap-container input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
}

.wrap-container input[type="text"] {
  width: auto;
  margin-bottom: 40px;
}
.wrap-container input[type="password"] {
  margin-bottom: 0;
}
.wrap-container p {
  margin-bottom: 15px;
}
.wrap-container h5 {
  font-size: 20px;
  margin-bottom: 10px;
}

.wrap-container button {
  background-color: #3498db;
  color: #f71a1a;
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  display:inline-flex;
 
}
.wrap-container ul{
  margin-bottom: 5px;
  
}
.wrap-container button ul  {
  display: inline-block; /* Display list items horizontally */
  margin-right: 5px;
  font-size: 20px;
}
.wrap-container h5 {
  margin-bottom: 10px;
}